.mybookheader a, .lefttitle1 a {
  color: #382110;
}
.Navbar {
  background: #F4F1EA;
  pointer-events: auto;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  }
  
  .Toolbar {
    display: flex;
    min-height: 56px;
    align-items: center;
    padding: 0px 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Logo {
    margin-right: 10px;
  }
  .logoname {
    font-weight:400;
    color: #382110;
    font-size: 42px;
  }
  .Toolbar ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .Toolbar ul li {
    display: inline-block;
    margin: 0 10px;
  }

  .Toolbar ul li a {
    padding: 10px 15px;
    color: #382110;
    text-decoration: none !important;
  }

  .Toolbar ul li a:hover {
    background-color: #382110;
    color: #fff;
  }
  .searchField {
    padding: 10px;
    display: block;
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  .mainContainer{
    display: flex !important;
    max-width: 1200px;


    margin: 0px auto !important;
  }
  .mybookheader {
    margin-top: 100px !important  ;
    margin: 0 auto;
    max-width: 1200px;
  }
  .mybookleft {
    padding: 0px !important;
  }
  .mybookleft .leftCrad a {
    margin-bottom: 10px;
    color: #382110;
    display: block;
  }
  .lefttitle1
  {
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15;
    margin: 12px 0;
    text-transform: uppercase;
  }
  .leftCrad .icon
  {

    width: 50px;
    height: 50px;
    display: flex;
    background-color: #382110;
    content: '' !important;
    margin-right: 10px !important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .leftCrad .icon svg {
    font-size: 30px !important;
    color: #F4F1EA;
  }
  .readingCard
  {

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
  
  }
  .readingCard p {
    margin: 3px;
  }
  .Recommen {
        margin: 10px !important;
        display: inline-block;
        color:  #382110;
        text-decoration: none !important;
  }
  .readingChallengeMain {
    display: flex;

flex-direction: column;
  }
  .readingChallengeMain .noofcount {
    margin: 0px !important;
    font-size: 30px;
  }
  .track
  {
font-size:  12px;
color: grey;
  }
  
  .BooksearchField {
    padding: 10px;
    display: block;
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  .rightCard, .bookcard, .rightCard1 {
    width: 90%;
    padding: 15px !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
  }
  .rightCard1 {
    margin: 0 auto;
  }
  .rightCard:last-child {
    margin-top: 20px;
  }
  .rightCard p {
    text-align: center;
    font-size: 16px !important;
  }
  .navright svg {
    padding: 5px;
    margin: 0 5px;
    color: #382110;
    cursor: pointer;
  }
  .bookimgmain {
    display: flex;
    align-items: center;
  }
  .bookimg{
    width: 100%;
  }
  .rightCard h3,
  .rightCard  p {
    margin: 0px !important;
  } 
  .bookcard {
    margin: 20px 0;
  }
  .bookcard p,
  .bookcard h3 {
text-align: left !important;
margin: 0px !important;
margin-bottom: 10px !important;
  }
  .bookcard a {
    margin: 0px !important;
    font-size: 14px;
    color: #382110;
  }
  .readdropdown {
    width: 300px !important;
    margin-top: 15px;
  }
  .ratingBox
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }